@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jaldi", sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    
    
}

.logo {
    position: absolute;
    left: 5%;
    top: 5%;
    z-index: 3;
}


.form-box {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 150px;
    z-index: 1;
}

.form-box.register {
    visibility: hidden;
    
}

.container.active .form-box{
    visibility: visible;
}

.container.active .form-box.login {
    visibility: hidden;
}


.container.active .form-box.register {
    visibility: visible;
    right: 0%;
}

form {
    width: 100%;    
}

.container h1{
    font-size: 48px;
    margin: -10px 0px;
    color: #C1C242;
}

.social-icons a {
    display: inline;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    color: #C1C242;
}

.container p {
    margin: 15px 0px;
    font-size: 14.5px;

}

.input-box {
    position: relative;
    margin: 20px 0px;
}

.input-box input {
    width: 100%;
    padding: 13px 55px;
    background-color: #CCCD214F;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #000000;
    font-weight: 400;
}

.input-box input::placeholder {
    font-weight: 400;
    color: #00000080;
    
}

.input-box i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.forgot-link {
    margin: 10px 0px;
}

.forgot-link a {
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.btn {
    width: 100%;
    height: 48px;
    color: #000000;
    font-weight: 600;
    font-size: 25px;
    background-color: #BDBE3E;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2 );
    cursor: pointer;
}

.btn {
    width: 80%;
}

.toggle-box {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.toggle-panel {
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    right: 0%;
    
}

.toggle-panel.toggle-left {
    visibility: hidden;
}
.container.active .toggle-panel.toggle-right {
    visibility: hidden;
}
.container.active .toggle-panel.toggle-left {
    visibility: visible;
    background: url(images/background-left.png);
    background-repeat: no-repeat;
    left: 0%;
}

.container.active .toggle-panel.toggle-right {
    left: 0%;
}

.toggle-panel.toggle-right {
    background: url(images/background-right.png);
    background-repeat: no-repeat;
    right: 0%;
}

.toggle-panel h1 {
    color: white;
}

.toggle-panel p {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    bottom: 50px;
    
}

.toggle-panel .btn {
    position: absolute;
    background-color: #fff;
    color: #000000;
    width: 40%;
    bottom: 20px;
    
}
